<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing grammar point</h1>

  <%= render "form", grammar_point: @grammar_point %>

  <%= link_to "Show this grammar point", @grammar_point, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to grammar points", grammar_points_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
